.screen {
  display: flex;
  max-width: 1280px;
  min-height: 100%;
  padding-block: 40px;
  padding-inline: 80px;
  flex: 1;

  .filters {
    width: 25%;
  }

  .products {
    margin-inline: 40px;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
