@import "../../mixins.scss";

.container {
  display: flex;
  align-items: center;
  border: solid 2px $main-color;
  border-radius: 12px;
  padding: 6px 12px;
  gap: 6px;
  transition: 300ms linear;
  margin-left: 16px;

  &:hover {
    background-color: $main-color;
    cursor: pointer;

    .icon {
      color: #fff;
    }

    .text {
      color: #fff;
    }
  }

  .icon {
    pointer-events: none;
    color: $main-color;
    width: 20px;
    height: 20px;
  }

  .text {
    color: $main-color;
    font-weight: 600;
  }
}
