.input {
  margin-bottom: 20px;
  font-size: 20px;
}
.inputEdited {
  margin-bottom: 0;
  font-size: 20px;
}
.input::placeholder {
  color: #a7a7a7;
}
.rememberBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 129px 0;
  .checkboxLabel {
    display: flex;
    align-items: center;
    .checkbox {
      width: 25px;
      height: 25px;
      margin-right: 20px;
      margin-left: 0;
    }
    .checkboxTitle {
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
    }
  }
  .remember {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #3c84ab;
    cursor: pointer;
  }
}
.btnSubmit {
  height: 39px;
  background: #19139f;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}
.btnSubmit:disabled {
  opacity: 0.6;
}
