$main-color: #19139f;
$main-hover: #4a45a6;
$blue: #3c84ab;
$light-blue: #defcf9;
$secondary: #d9d9d9;

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}
