@import "../../mixins.scss";

.container {
  padding: 10px;

  .background {
    img {
      width: 400px;
      object-fit: fill;
    }
  }

  .text {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin: 8px 0 12px 0;
  }

  .button {
    margin-inline: 12px;
    padding: 6px;
    border: 10px;
    border-radius: 8px;
    background: $main-color;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &:hover {
      cursor: pointer;
      background-color: $main-hover;
    }
  }
}
